<table class="table table-hover">
  <tbody><tr>

    <th>Question Title</th>
    <th>Section</th>
    <th>Published</th>
    <!-- <th>Report</th> -->
    <th>Actions</th>
  </tr>
  <%@question.each do |q|%>
    <tr>

      <td><%=simple_format(q.question_name)%></td>
      <td><%=q.question_section_name%></td>
      <td><%=q.created_at.to_date.strftime("%m-%d-%Y")%></td>
      <!-- <td>Report</td> -->
      <td>
      <div class="width-130">
      <a class="btn btn-warning "  data-toggle="tooltip" title="Edit"  href="/questions/edit/<%=q.id%>" role="button"><i class="fa fa-edit"></i></a>
      <%= link_to "<i class='fa fa-archive'></i>".html_safe, delete_question_path(q.id),  data: {confirm: "Are you sure Archive"}, :method => :post, class: "btn btn-danger", remote: true, "data-toggle" => "tooltip", :title => "Archive", "data-caption" => "Yes, archive it"   %>

       </div>   
      </td>
    </tr>
  <%end%>
</tbody></table>