$('.question_index_ajax').html("<%= escape_javascript(render partial: 'question_partial',  :locals => { :question => @question}) %>");
swal(
  'Good job!',
  'Successfully Archived!',
  'success'
)




