
<div class="info-box"> 
  <div class="content">
     <%= form_for :question, url: update_question_path, :html => {id: "multiple-choice-form", class: "form-horizontal", :multipart => true}, remote: true do |f| %>
          <%=hidden_field_tag :question_id, params[:id]%>
          <div class="form-group has-feedback required">
             <div class="col-sm-2">
            <%=f.label :question_name, "Question Section:"%>
            </div>
            <div class="col-sm-10 col-lg-4 question_section_ajax">
              <select name="question[question_section_id]" class="q_section-select form-control"> 
              <option value="">Select Location</option>
              <%= grouped_options_for_select [['Search Section',  @q_section.collect {|v| [ v.question_section_name, v.id ] }]], @question.question_section_id%>
              </select>
            </div>  
             <span class="help-blockx pull-rxight"><a class="q_section_modal" data-turbolinks="false" href="javascript:void(0);"><i class='fa fa-plus'></i> Add New Section</a></span>
          </div>
<hr>
          <div class="form-group has-feedback required">
              <div class="col-sm-2">
              <%=f.label :question_name, "Question:"%>
              </div>
            <div class="col-sm-10 col-lg-10">
              <%= f.text_area :question_name, value: "#{@question.question_name}", :class => 'ckeditor form-control' %>
               
            </div>
          </div>
         <div id="q_answer">
         <%@question_ans.each_with_index do |q, index|%>
          <%q_count = index + 1%>
            <hr/>
            <div class="q_append form-group has-feedback required">
            <div class="col-sm-2">
                <%=f.label :question_name, "Option #{q_count}:"%>
              </div>
              <div class="col-sm-8 col-lg-8">
              <%q.question_answer_name%>
                <%= text_area_tag "question_ans[][answer]", q.question_answer_name, id: "option_ans#{index}",  :class => 'ckeditor form-control' %>
                <span class="help-block pull-right"> Result: 
                 <select name="question_ans[][result]" class="q_result-select question_result form-control"> 
                  <option value="">Select Result</option>
                  <%= grouped_options_for_select [['Search Result',  @result.collect {|v| [ v.title, v.id ] }]],q.result_id%>
                 
                  </select> 
                  </span>
            </div>
               <div class="col-sm-2 col-lg-2">
               </div>
            </div>
          <%end%>
          </div>  

        <div class="form-group">
        <div class="col-sm-10 col-xs-12 col-lg-10">
      <span class="help-block pull-right"><a class="add_question" data-turbolinks="false" href="javascript:void(0);"> <i class='fa fa-plus'></i> Add New Answer</a></span>
      </div>
      </div>
        <div class="form-group">
        <div class="col-sm-offset-2  col-sm-10 col-lg-offset-2 col-lg-9">
          <button class="btn btn-primary btn-flat" type="submit" name="commit" value="save"> <i class='fa fa-savex'></i> Save Changes
          </button>
</div>
        </div>
      </div>
       <%end%>
  </div>
</div>




<!-- Modal for create section -->
<div class="modal fade" id="q_section_modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2"><i class="fa fa-file-text-o"></i> Create Section</h4>
      </div>

      <%= form_for :question_section, url: questions_section_create_path, :html => {id: "q_section_form", class: "form-horizontal", :multipart => true}, :remote => true do |f| %>
      <div class="modal-body">
        
          <div class="form-group has-feedback required">
              <%=f.label :question_section_name, "Question Section:", class: "col-sm-3 control-label"%>
            <div class="col-sm-10 col-lg-8">
              <%= f.text_field :question_section_name, :class => 'form-control' %>
              <span class="help-block pull-right">Enter Question Section Name</span>
            </div>
          </div>

      </div>
      
      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-default btn-flat" type="submit" name="commit" value="Save">Save</button> -->
       <%= f.submit "Save", class: "btn btn-default btn-flat" %>
        <button class="btn btn-default btn-flat" data-dismiss="modal" >Cancel</button>

      </div>
      <%end%>
    </div>
  </div>
</div>


<script type="text/javascript">

    // CKEDITOR.replace( 'question_question_name' );



  function func_correct_answer(id){

// idx = CKEDITOR.instances['option_ans'+id].getData();
      // for(var i in (this).length) {
      //   alert(i);
      // }

      // $(".ans").each(function( index ) {
      //   $('#key-ans'+index).val("");


    $('#key-answer').val(id);
  // console.log( index + ": " + $( this ).text() );
};

        
      // $('#key-ans'+id).val(id);


     // var ck = CKEDITOR.instances
     // var ed = id
     // alert($('#key-ans'+id).val(id));

      // alert(CKEDITOR.instances.ed.getData());


  // var n = $(this).length;
    // alert(id);
// var value = CKEDITOR.instances[ids].getData();
// CKEDITOR.instances.+ids+.getData();

// idx = CKEDITOR.instances['option_ans'+id].getData();

     // var ck = CKEDITOR.instances
     // var ed = id
     // alert(idx);

      // alert(CKEDITOR.instances.ed.getData());


// var editor = CKEDITOR.replace("id");

// The "change" event is fired whenever a change is made in the editor.
// editor.on( 'change', function( evt ) {
    // getData() returns CKEditor's HTML content.
    // console.log( 'Total bytes: ' + evt.editor.getData().length );
// });


    // alert(id);
    // var ck = id;
    // var data = CKEDITOR.instances +'.' +  + id + '.' + getData();
    //   alert(data);
  // alert (CKEDITOR.instances[3].getData()); 
    // var myinstances = [];

//this is the foreach loop
for(var i in CKEDITOR.instances) {

   /* this  returns each instance as object try it with alert(CKEDITOR.instances[i]) */
    CKEDITOR.instances[i]; 
   
    /* this returns the names of the textareas/id of the instances. */
    CKEDITOR.instances[i].name;

    /* returns the initial value of the textarea */
    CKEDITOR.instances[i].value;  
 
   /* this updates the value of the textarea from the CK instances.. */
   CKEDITOR.instances[i].updateElement();

   /* this retrieve the data of each instances and store it into an associative array with
       the names of the textareas as keys... */
   myinstances[CKEDITOR.instances[i].name] = CKEDITOR.instances[i].getData(); 
   // alert(myinstances[CKEDITOR.instances[i].name]);
   // alert (CKEDITOR.instances[i].getData() );
// }

  }

$(function() {

// CKEDITOR.instances['textareaId'].setData(value);


        var scntDiv = $('#q_answer');
        var i = $('#q_answer hr').size() + 1;
        
        $('.add_question').on('click', function() {

          // alert("s");
                $('<div class="q_new"><hr/> <div class="form-group has-feedback required"> \
            <div class="col-sm-2"> \
                <label for="question_question_name">Option ' + i +':</label> \
              </div>  \
              <div class="col-sm-8 col-lg-8">  \
                <textarea name="question_ans[][answer]" id="option_ans' + i +'" class="ckeditor form-control"></textarea>  \
                <span class="help-block pull-right"> Result:  \
                 <select name="question_ans[][result]" class="q_result-select question_result form-control">   \
                  <option value="">Select Result</option> \
                      <optgroup label="Search Result"> \
                      <%@result.each do |r|%> \
                      <option value="<%=r.id%>"><%=r.title%> </option> \
                      <%end%> \
                      </optgroup> \
                  </select> \
                  </span>\
            </div>\
               <div class="col-sm-2 col-lg-2">\
                <a data-turbolinks="false" href="#" id="remScnt"><i class="fa fa-close"></i> Remove</a> \
               </div>\
            </div></div>').appendTo(scntDiv);

                      CKEDITOR.replace( 'option_ans' + i  );
                      $(".q_result-select").select2({
                           placeholder: "Select Result",
                           allowClear: true
                        });
                          $('html, body').stop().animate({
                            scrollTop: $(".main-footer").offset().top
                        }, 1000);
                          
                i++;

                return false;
        });
        $(document).on("click", "#remScnt",function (e){
        // $('#remScnt').on('click','html' function() { 
          // alert("s");
                if( i > 2 ) {
                        $(this).parents('.q_new').remove();
                        i--;
                }
                return false;
        });
});



// $('#addScnt').live('click', function() {
//                 $('<p><label for="p_scnts"><input type="text" id="p_scnt" size="20" name="p_scnt_' + i +'" value="" placeholder="Input Value" /></label> <a href="#" id="remScnt">Remove</a></p>').appendTo(scntDiv);
//                 i++;
//                 return false;
//         });





</script>