<!-- Main content -->

<div class="row">
  <div class="col-xs-12">
       <a href="/questions/new" class="pull-right btn btn-primary btn-createtest"><i class="fa fa-plus"></i> Create New Questions</a>
  </div>
</div>


  <div class="row">
        <div class="col-xs-12">
          <div class="box box-main">
            <div class="box-header with-border">
              <h3 class="box-title">Question List</h3>

              <div class="box-tools">
               <%=form_tag(question_search_path, method: "GET", :id => "search-inputx", remote: true ) do -%>   
                <div style="width: 200px;" class="input-group input-group-sm">
                  <div class="input-group-btn">
                    <a href="/questions" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                  </div>
                    <%= text_field_tag(:title, nil, class: 'form-control pull-right',  placeholder: 'Search Title', value: params[:title]) -%>
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                  </div>
              </div>
               <%end%>
            </div>

            </div>
            <!-- /.box-header -->
     
            <div class="box-body question_index_ajax table-responsive no-padding">
              <%=render partial: "question_partial",  :locals => { :question => @question}%>
            </div>
              <div class="box-footer ajax-pagination">
                    <%= will_paginate @question, renderer: BootstrapPagination::Rails %>
              </div>
             
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

  </div>


<!-- Modal -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
<!--         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
         Are you sure you want to delete?
      </div>
      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-danger" id="delete">Delete</button> -->
       <%#= link_to 'Delete', delete_ad_path(17, s: params[:s]), method: :delete, :class => 'btn btn-danger' %>

       <a href="#" data-method="delete" rel="nofollow" class="btn btn-danger btn-delete-ad">Delete</a>
       <button type="button" data-dismiss="modal" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal for create section -->
<div class="modal fade" id="t_create_modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2"><i class="fa fa-file-text-o"></i> Create Test</h4>
      </div>

      <%= form_for :tests, url: tests_create_path, :html => {id: "test_form", class: "form-horizontal", :multipart => true}, :remote => true do |f| %>
      <div class="modal-body">
        
          <div class="form-group has-feedback required">
              <%=f.label :test_name, "Test Name:", class: "col-sm-3 control-label"%>
            <div class="col-sm-10 col-lg-8">
              <%= f.text_field :test_name, :class => 'form-control' %>
              <span class="help-block pull-right">Enter Test Name</span>
            </div>
          </div>

      </div>
      
      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-default btn-flat" type="submit" name="commit" value="Save">Save</button> -->
       <%= f.submit "Save", class: "btn btn-default btn-flat" %>
        <button class="btn btn-default btn-flat" data-dismiss="modal" >Cancel</button>

      </div>
      <%end%>
    </div>
  </div>
</div>
