$('.question_index_ajax').html("<%= escape_javascript(render partial: 'question_partial',  :locals => { :question => @question}) %>");
$('.ajax-pagination').html("<%= escape_javascript(render partial: 'question_pagination',  :locals => { :question => @question}) %>");




