<%if @result == true%>
swal(
  'Good job!',
  'Successfully Saved!',
  'success'
)
 $('#q_section_form')[0].reset();


 $('.q_section-select').select2("val", "");
$('#multiple-choice-form')[0].reset();
for (instance in CKEDITOR.instances){
   CKEDITOR.instances[instance].setData(" ");
}

 $(".q_result-select").select2("val", "");



<%else%>
swal(
  'Oops...',
  'Please check your entries or fill up the blanks before you submit, and try again.',
  'error'
)

<%end%>