<%unless @result == false%>
swal(
  'Good job!',
  'Successfully Saved!',
  'success'
)

$('.question_section_ajax').html("<%= escape_javascript(render partial: 'question_section_partial',  :locals => { :q_section => @q_section}) %>");
 $('#q_section_form')[0].reset();
 $('#q_section_modal').modal('hide');

$(".q_section-select").select2({
	placeholder: "Select Section",
	allowClear: true
});



<%else%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)
<%end%>