

$('.result-ajax').html("<%= escape_javascript(render partial: 'question_section_partial',  :locals => { :question_section => @question_section}) %>");

swal(
  'Good job!',
  'Successfully Archived!',
  'success'
)


$('#results-form')[0].reset();