$('.result-ajax').html("<%= escape_javascript(render partial: 'question_section_partial',  :locals => { :question_section => @question_section}) %>");
$('.resul_pagination').html("<%= escape_javascript(render partial: 'question_section_pagination',  :locals => { :question_section => @question_section}) %>");
