

<%if @qu3stion_section == true%>
$('.result-ajax').html("<%= escape_javascript(render partial: 'question_section_partial',  :locals => { :question_section => @question_section}) %>");

 $('#results-form')[0].reset();


swal(
  'Good job!',
  'Successfully Saved!',
  'success'
)


<%else%>
swal(
  'Oops...',
  'Please check your entries or fill up the blanks before you submit, and try again.',
  'error'
)

<%end%>

