 <%if @qu3stion_section.errors.any?%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%else%>

$('.result-ajax').html("<%= escape_javascript(render partial: 'question_section_partial',  :locals => { :question_section => @question_section}) %>");

swal(
  'Good job!',
  'Successfully Updated!',
  'success'
)
<%end%>

