<table class="table table-hover">
  <tbody><tr>
    <th>Avatar</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Test Name</th>
    <th>Created At</th>
    <th>Actions</th>
  </tr>
  <%@analytics.each do |u|%>
    <tr>
      <td>
        <div class="avatar-list">
        <%if u.avatar?%>
          <%= image_tag(avatar_photo(u.user_id, u.avatar), class: "img-responsive img-circle")%>
        <%else%>
         <%= image_tag("avatar-default.jpg", class: "img-responsive img-circle")%>
        <%end%>
       </div> 
      </td>
      <td><%=u.first_name%></td>
      <td><%=u.last_name%></td>
      <td><%=u.email%></td>
      <td><%=u.test_name%></td>
      <td><%=u.created_at.strftime("%m-%d-%Y | %l:%M ")%></td>
      <td>
      <div class="width-196">
      <a class="btn btn-success btn-xs" data-toggle = "tooltip" title = "View Test Result" href="/analytics/view/<%=u.id%>?test_id=<%=u.test_id%>&user_id=<%=u.user_id%>" role="button"><i class="fa fa-eye"></i> View Test Result</a>
      <%= link_to "<i class='fa fa-edit'></i> Retake".html_safe, retake_user_analytic_path(u.id),  :'data-caption' => 'Yes, retake it!', data: {confirm: "Are you sure Retake"}, :method => :post, class: "btn btn-warning btn-xs", "data-toggle" => "tooltip", :title => "Retake", remote: true %>
      <!-- <a class="btn btn-warning " href="/users/edit/<%#=u.id%>" role="button"><i class="fa fa-edit"></i> Retake</a> -->
      <%= link_to "<i class='fa fa-trash'></i>".html_safe, delete_user_analytic_path(u.id), data: {confirm: "Are you sure Delete"}, :method => :delete, class: "btn btn-danger btn-xs", "data-toggle" => "tooltip", :title => "Delete", remote: true %>
       </div>   
      </td>
    </tr>
  <%end%>
</tbody></table>

<!-- :data => { :foo_bar => 'that' } -->