$('.user_index_ajax').html("<%= escape_javascript(render partial: 'user_test_partial',  :locals => { :analytics => @analytics}) %>");
$('.user_test_pagination').html("<%= escape_javascript(render partial: 'user_test_pagination',  :locals => { :analytics => @analytics}) %>");
