<!-- Main content -->
<section class="content">



  <div class="row">

  <div class="col-xs-12">
       <a href="/questions/new" class="pull-right btn btn-primary btn-createtest"><i class="fa fa-plus"></i> Create new User Test</a>
  </div>
        <div class="col-xs-12">
          <div class="box box-main">
            <div class="box-header with-border">
              <h3 class="box-title">Manage Test</h3>

              <div class="box-tools">
               <%=form_tag(user_test_search_path, method: "GET", :id => "search-inputx", remote: true ) do -%>   
                <div style="width: 200px;" class="input-group input-group-sm">
                  <div class="input-group-btn">
                    <a href="/user-test" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                  </div>
                    <%= text_field_tag(:title, nil, class: 'form-control pull-right',  placeholder: 'Search keyword', value: params[:title]) -%>
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                  </div>
              </div>
               <%end%>
            </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body user_index_ajax table-responsive no-padding">
              <%=render partial: "user_test_partial",  :locals => { :analytics => @analytics}%>
            </div>
              <div class="box-footer user_test_pagination">
                    <%= will_paginate @analytics, renderer: BootstrapPagination::Rails %>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

  </div>
</section>