<!-- Main content -->


<%if @report.present? and @result.present?%>
<section class="content-test">
<h4>Test Result <br><strong> <%=@result.title%></strong></h4>
<div class="row">
  <div class="col-lg-6 text-center">
    <canvas id="canvas" height="450" width="450"></canvas>
  </div>    
  <div class="col-lg-6">
   <%=@result.description.html_safe%>
  </div>    
</div>
</section>
<script type="text/javascript">
$(document).ready(function () {
var ctx = document.getElementById("canvas").getContext("2d");
var mybarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Matches'],
    datasets: [
     <%@get_result_id.each_with_index do |r, index| %>
        {
          label: '<%=Result.find(r.answer_result).title%>',
          backgroundColor: '<%=color(index)%>',
          data: [<%=r.ct%>]
        }<% if r  == @get_result_id.last%><%else%>,<%end%> 
     <%end%> 
    ]
  },
  options: {
    legend: {
      display: true,
      position: 'bottom',
      labels: {
        fontColor: "#000080",
      }
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});

});

</script>
<%end%>

<section class="content-test">


  <div class="row">
        <div class="col-xs-12">
          <div class="box box-main">
            <div class="box-header with-border">
              <h3 class="box-title">Test Report</h3>


            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="row">
                      <div class="col-md-12">
                <%if @report.present?%>
                    <%@report.each_with_index do |t, index| %>
                      <%count_num =  index + 1%>
                        <div ui-view="question" autoscroll="false" class="ng-scope"><div class="row ng-scope">
                            <div class="col-md-6">
                                <label class="question">Question #<%=count_num%></label>
                            </div>
                            <div class="col-md-6">
                                <label>Answer</label>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6" style="word-wrap:break-word;">
                                <div><%=simple_format(t.question_name)%></div>
                            </div>
                            <div class="col-md-6 radio radio-test" style="word-wrap:break-word;">
                            
                             <ul>

                                    <li>
                                       <input tabindex="<%=count_num%>" disabled=true checked=true id="question<%=count_num%>" name="question<%=count_num%>" value=<%=t.question_answer_name.present? ? t.question_answer_name  : "not answered"%> type="radio">
                                       <label for="question<%=count_num%>"><%=t.question_answer_name.present? ? simple_format(t.question_answer_name ) : "not answered"%></label>
                                    </li>

                            </ul>
                            </div>

                        </div>
                        <hr>

                  <br>
                  <br>
                    <%end%>   

                        
                      </div>
                    </div>

            <%else%>
            <p>No data found, please take the test first.</p>
            <%end%>        
            </div>


            </div>
              <!-- <div class="box-footer"> -->
                    <%#= will_paginate @analytics, renderer: BootstrapPagination::Rails %>
              <!-- </div> -->
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

  </div>
</section>



<script>
$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_square',
    radioClass: 'iradio_square',
    increaseArea: '20%' // optional
  });
});
</script>