<div class="login-box">

  <div class="login-logo">
     <a href="/"><b>Member</b> Registration</a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Register a new account</p>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
     <div class="form-group has-feedback">
        <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control"%>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
     <div class="form-group has-feedback">
        <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
        <span class="form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password (3 characters minimum)", class: "form-control" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
<!--       <div class="form-group has-feedback">
        <%#= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Retype password", class: "form-control"   %>
        <%#= f.hidden_field :role, value: "member"%>
        <span class="form-control-feedback"></span>
      </div> -->


      <p>
You can choose which state you would prefer to test
     </p>

       
         <div class="form-group  has-feedback">
        <%#=label_tag('test_id', "Test Name", class: "label-light")%> 
        <select name="user_prepare_test[][test_id]" class="test-select form-control" multiple="true"> 
          <option value="">Select Location</option>
            <%= grouped_options_for_select [['Select Test',  Test.where(display_public: "yes", status: "active").collect {|v| [ v.test_name, v.id ] }]]%>
            </select>
     <span class="glyphicon glyphicon-list-alt form-control-feedback"></span>
        </div>

      

      <div class="row">

        <div class="col-xs-12">
         <p class="text-center">By clicking Sign Up, you agree to our <a href="/terms-conditions">Terms and Conditions.</a></p>
           <%= f.submit "Sign Up", class: "btn btn-primary btn-block btn-flat"  %>
        </div>
        <!-- /.col -->
      </div>
    <%end%>
 <%= render "devise/shared/links" %>
</div>
</div>
<script type="text/javascript">
  
  
$(document).ready(function() {

      $(".test-select").select2({
     placeholder: "Select Test"
  });


 });      
</script>