 <%if @analytics_del.errors.any?%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%else%>


swal(
  'Good job!',
  'Successfully Archived!',
  'success'
)

$('.user_index_ajax').html("<%= escape_javascript(render partial: 'user_test_partial',  :locals => { :analytics => @analytics}) %>");

<%end%>

