<!-- Main content -->
<section class="content">

      <div class="row">
        <div class="col-xs-12">
          <div class="info-box">

            <div class="content welcome-panel">
              <h3>Add New Questions!</h3>
              <span class="welcome-desc">We’ve assembled some links to get you started:</span>
                  <div class="row">
                    <div class="col-sm-4 ">
                    <h4>New Questions</h4>
                    
                  <!-- <div class="post-ads"> -->
                  <!-- <button type="button" class="btn btn-primary btn-lg btn-block">Post Ad for Free</button> -->
               <!--    <a class="btn btn-danger btn-lg btn-block" href="#">
                    <span class="fa fa-pencil"></span> Add Questions!</a>
                  </div> -->
                   
					<div class="dropdown">
  <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   <span class="fa fa-pencil"></span> Add Questions
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
   <li><a href="#">Multiple Choice</a></li>
       <li role="separator" class="divider"></li>
    <li><a href="#">True | False</a></li>
       <li role="separator" class="divider"></li>
    <li><a href="#">Descriptive</a></li>
       <li role="separator" class="divider"></li>
    <li><a href="#">Multiple Answer</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Fill in the Blanks</a></li>
  </ul>
</div>

                    </div>
                    <div class="col-sm-4">
                    <h4>More Action</h4>

                    <ul class="media-list">
                        <li><i class="fa fa fa-user"></i><a href="/dashboard/profile"> Update Profile</a></li>
                        <li><i class="fa fa-file-text"></i><a href="/dashboard/ads"> Manage Questions</a></li>
                    </ul>
                    </div>
                    <div class="col-sm-4">
                    <h4>Support</h4>

                    <ul class="media-list">
                        <li><i class="fa fa-phone"></i><a href="#!"> Contact us</a></li>
                        <li><i class="fa fa fa-book"></i><a href="#!"> Give us your Feedback</a></li>
                    </ul>
       
                    </div>
                  </div>
            </div>
          </div>
          <!-- /.info-box -->
        </div>
      </div>


<div class="box box-danger">
  <div class="box-header with-border">
    <h3 class="box-title">Questions:</h3>
    <div class="box-tools pull-right">
      <div class="has-feedback">
        <input type="text" class="form-control input-sm" placeholder="Search...">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    The body of the box
  </div><!-- /.box-body -->

</div><!-- /.box -->
</section>