<table class="table table-hover">
  <tbody><tr>
    <th>Avatar</th>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>PublicIP</th>
    <th>Signin Count</th>
    <th>Last Signin At</th>
    <th>Created At</th>
    <th>Updated At</th>
    <th>Actions</th>
  </tr>
  <%@user.each do |u|%>
    <tr>
      <td>
      <div class="avatar-list">
        <%if u.avatar?%>
          <%= image_tag(u.avatar_url(:thumb), class: "img-responsive img-circle")%>
        <%else%>
         <%= image_tag("avatar-default.jpg", class: "img-responsive img-circle")%>
        <%end%>
       </div> 

      </td>
      <td><%=u.id%></td>
      <td><%=u.first_name%></td>
      <td><%=u.last_name%></td>
      <td><%=u.email%></td>
      <td><%=role_label(u.role)%></td>
      <td><%=u.last_sign_in_ip%></td>
      <td><%=u.sign_in_count%></td>
      <td><%=u.last_sign_in_at.to_date.strftime("%m-%d-%Y") if u.last_sign_in_at.present?%></td>
      <td><%=u.created_at.to_date.strftime("%m-%d-%Y")%></td>
      <td><%=u.updated_at.to_date.strftime("%m-%d-%Y")%></td>
      <td>
      <div class="width-130">
      <!-- <a class="btn btn-success " href="#" role="button"><i class="fa fa-plus"></i> Invite Test</a> -->
      <a class="btn btn-warning" data-toggle="tooltip"  title="Edit" href="/users/edit/<%=u.id%>" role="button"><i class="fa fa-edit"></i></a>
      <%= link_to "<i class='fa fa-archive'></i>".html_safe, delete_user_path(u.id),  data: {confirm: "Are you sure Archive"}, :method => :post, class: "btn btn-danger", remote: true, "data-toggle" => "tooltip",  :title => "Archive", "data-caption" => "Yes, archive it" %>


       </div>   
      </td>
    </tr>
  <%end%>
</tbody></table>