     <div class="form-group has-feedback required">
        <%=f.label :email, "Email:", class: "col-sm-2 control-label"%>
        <div class="col-sm-10 col-lg-6">

  <%=f.email_field :email, placeholder: "Email" ,class: "form-control"%>
<!-- 
            <span class="help-block">You can upload a JPG, GIF, or PNG file. The size of the image must be minimum of 300 x 300 pixels </span> -->
        </div>
      </div>
           <div class="form-group has-feedback required">
        <%=f.label :email, "First Name:", class: "col-sm-2 control-label"%>
        <div class="col-sm-10 col-lg-6">
  <%=f.text_field :first_name, placeholder: "FirstName" ,class: "form-control"%>

        </div>
      </div>

     <div class="form-group has-feedback required">
        <%=f.label :last_name, "Last Name:", class: "col-sm-2 control-label"%>
        <div class="col-sm-10 col-lg-6">
  <%=f.text_field :last_name, placeholder: "LastName" ,class: "form-control"%>
        </div>
      </div>

     <div class="form-group has-feedback required">
        <%=f.label :email, "Password:", class: "col-sm-2 control-label"%>
        <div class="col-sm-10 col-lg-6">
  <%=f.password_field :password, placeholder: "Password",class: "form-control"%>
        </div>
      </div>

     <div class="form-group has-feedback required">
        <%=f.label :email, "Password Confirmation:", class: "col-sm-2 control-label"%>
        <div class="col-sm-10 col-lg-6">
  <%=f.password_field :password_confirmation,placeholder: "Password Confirmation" ,class: "form-control"%>
        </div>
      </div>