 <%if @user.errors.any?%> 
swal(
  'Oops...',
  'Please check your entries, email must be unique, or fill up the blanks before submit, and try again.',
  'error'
)

<%else%>


swal(
  'Good job!',
  'Successfully Created!',
  'success'
)
 $('.test-select').select2("val", "");
 $('.role-select').select2("val", "");
 $('#user_form')[0].reset();
<%end%>

