<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-file-text-o"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Test Bank</span>
              <span class="info-box-number"><%=@test.count%></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-table"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Questions</span>
              <span class="info-box-number"><%=@question.count%></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-bar-chart"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Analytics</span>
              <span class="info-box-number"><%=@analytic.count%></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">All Members</span>
              <span class="info-box-number"><%=@user.count%></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>

<div class="row">

        <div class="col-md-4">
          <!-- PRODUCT LIST -->
          <div class="box box-main">
            <div class="box-header with-border">
              <h3 class="box-title">Recently Test Result</h3>

              <div class="box-tools pull-right">
                <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box">
              <%@analytics.each do |a|%>
                <li class="item">
                  <div class="product-img">
                  <%if a.avatar?%>
                    <%= image_tag(avatar_photo(a.user_id, a.avatar), class: "img-responsive img-circle")%>
                  <%else%>
                   <%= image_tag("avatar-default.jpg", class: "img-responsive img-circle")%>
                  <%end%>
                   
                  </div>
                  <div class="product-info">
                    <a class="product-title" href="#"><%=a.first_name %> <%=a.last_name%>
                      <span class=" pull-right"><%=status_label(a.status)%></span></a>
                        <span class="product-description">
                          <%=distance_of_time_in_words_to_now(a.created_at) + " ago" if a.created_at.present?%>
                        </span>
                  </div>
                </li>
                <%end%>
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a class="uppercase" href="/analytics">View All Test Results</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>


          <div class="col-md-8">
              <!-- USERS LIST -->
              <div class="box box-main">
                <div class="box-header with-border">
                  <h3 class="box-title">Latest Members</h3>

                  <div class="box-tools pull-right">
                    <!-- <span class="label label-warning">8 New Followers</span> -->
                    <button data-widget="collapse" class="btn btn-box-tool" type="button"><i class="fa fa-minus"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                  <%@us3r.each do |u|%>
                    <li>
                       <%if u.avatar?%>
                          <%= image_tag(u.avatar_url(:thumb), class: "img-responsive img-circle", alt:"test")%>
                        <%else%>
                               <%= image_tag("avatar-default.jpg", class: "img-responsive img-circle", alt: "test")%>
                      <%end%>
                      <a href="#" class="users-list-name"><%=u.first_name%> <%=u.last_name%></a>
                      <span class="users-list-date"><%=distance_of_time_in_words_to_now(u.created_at)-%> ago</span>
                    </li>
                  <%end%>

                     </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a class="uppercase" href="/user-candidates">View All Members</a>
                </div>
                <!-- /.box-footer -->
              </div>
              <!--/.box -->
            </div>



        <!-- /.col -->
      </div>