 <%if @user_delete.errors.any?%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%else%>


swal(
  'Good job!',
  'Successfully Archived!',
  'success'
)

$('.user_index_ajax').html("<%= escape_javascript(render partial: 'user_partial',  :locals => { :user => @user}) %>");

<%end%>

