$('.user_index_ajax').html("<%= escape_javascript(render partial: 'user_partial',  :locals => { :user => @user}) %>");
$('.user_ajax_pagination').html("<%= escape_javascript(render partial: 'user_pagination',  :locals => { :user => @user}) %>");
