<div class="info-box">
<div class="content">
<%= form_for :user, :url => {:action => "add_user"}, :html => {id: "user_form", class: "form-horizontalx", :multipart => true}, remote: true do |f| %>

<div class="row">
  <div class="col-lg-3 profile-settings-sidebar">
    <h4 class="prepend-top-0">Profile Picture</h4>
    <p>You can upload a JPG, GIF, or PNG file. The size of the image must be minimum of 300 x 300 pixels </p>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-2 col-xs-12">
      <div class="form-group">
        <div class="avatar-image append-bottom-default">
        <%if @user.avatar?%>
          <%= image_tag(@user.avatar_url(:thumb), class: "img-responsive img-circle")%>
        <%else%>
         <%= image_tag("avatar-default.jpg", class: "img-responsive img-circle")%>
        <%end%>
        </div>
        </div>
      </div>
      <div class="col-lg-10 col-xs-12">
        <div class="form-group">
        <%=label_tag('Upload Profile Picture', nil, class: "label-light")%>
        <%=f.file_field(:avatar, class: "profile-photo", accept:'image/*')%>
      </div>
        <div class="help-block">
        The maximum file size allowed is 5mb.
        </div>
      </div>
    </div>
  </div>
</div>
  <hr>

  
<div class="row">

<%#=render partial: 'user_form', :locals => { :f => f}%>


    <div class="col-lg-3 profile-settings-sidebar">
      <h4 class="prepend-top-0">User information</h4>
      <p>This information will appear on your profile.</p>
    </div>

    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-6">

          <div class="form-group required">
            <%=f.label(:first_name, class: "label-light")%>
            <%=f.text_field(:first_name, class: "form-control", placeholder: "First Name", required: true)%>  
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group required">
            <%=f.label(:last_name, class: "label-light")%>
            <%=f.text_field(:last_name, class: "form-control", placeholder: "Last Name", required: true)%> 
          </div>
        </div>
      </div>
      <div class="form-group required">
        <%=f.label(:email, class: "label-light")%>
        <%=f.email_field(:email, class: "form-control", placeholder: "Email Address", required: true )%>  
        <span class="help-block">We use email for sending test through your email account.</span>
      </div>
             <div class="form-group required">
        <%=f.label(:password, class: "label-light")%>
        <%=f.password_field(:password, class: "form-control", placeholder: "Password", required: true)%>  
      </div>

            <div class="form-group required">
       <%=f.label :role, class: "label-light"%>
          <select name="user[role]" class="role-select form-control" required="required"> 
          <option value="">Select Role</option>
            <%= options_for_select @role.collect {|v| [ v, v.downcase ] } %>
          </select>
      </div>

            <div class="form-group">
        <%=f.label(:contact_number, class: "label-light")%>
        <%=f.text_field(:contact_no, class: "form-control", placeholder: "Contact No")%>  
      </div>
    
      <div class="form-group">
        <%=label_tag('course_id', "Course", class: "label-light")%>  
        <select name="user[course_id]" class="q_course-select form-control"> 
          <option value="">Select Course</option>
          <%= grouped_options_for_select [['Course',  @course.collect {|v| [ v.course_name, v.id ] }]],@user.course_id%>
          </select>
      </div>

      <div class="form-group">
        <%=label_tag('year_id', "Year", class: "label-light")%>  
        <select name="user[year_id]" class="q_year-select form-control"> 
          <option value="">Select Location</option>
          <%= grouped_options_for_select [['Year',  @year.collect {|v| [ v.year_name, v.id ] }]],@user.year_id%>
          </select>
      </div>

            <div class="form-group">
        <%=label_tag('section_id', "Section", class: "label-light")%>  
        <select name="user[section_id]" class="q_section-select form-control"> 
          <option value="">Select Section</option>
          <%= grouped_options_for_select [['Section',  @section.collect {|v| [ v.section_name, v.id ] }]],@user.section_id%>
          </select>
      </div>

</div>
</div>
<hr>

<div class="row">
    <div class="col-lg-3 profile-settings-sidebar">
      <h4 class="prepend-top-0">Prepare test</h4>
      <p>
You can choose which state you would prefer to test
     </p>
    </div>
        <div class="col-lg-9">
         <div class="form-group">
         <%#=f.label(:test, class: "label-light")%>


        <%=label_tag('test_id', "Test Name", class: "label-light")%> 
        <select name="user_prepare_test[][test_id]" class="test-select form-control" multiple="true"> 
          <option value="">Select Location</option>
            <%= grouped_options_for_select [['Test',  @test.collect {|v| [ v.test_name, v.id ] }]]%>
            </select>
     
         <%#=f.password_field(:password, class: "form-control", placeholder: "Password")%>  
        </div>

              <div class="prepend-top-default append-bottom-default">
        <%= submit_tag("Add User Account", class: "btn btn-success")%>
      </div>
        </div>


    </div>





<%end%>
</div>
</div>

<script type="text/javascript">
  
  
$(document).ready(function() {

      $(".test-select").select2({
     placeholder: "Select Test"
  });

            $(".role-select").select2({
     placeholder: "Select Role"
  });

 });      
</script>