 <%if @user.errors.any?%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%else%>
$('.avatar-ajax').html("<%= escape_javascript(render partial: 'avatar_photo',  :locals => { :user => @user}) %>");


swal(
  'Good job!',
  'Successfully Updated!',
  'success'
)
setTimeout(
  function() 
  {
   Turbolinks.clearCache()
Turbolinks.visit("/users/edit/<%=@user.id%>", {"action":"replace"})

  }, 1000);


<%end%>

