



<div class="login-box">

  <div class="login-logo">
     <a href="#">Change your password</a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
     <div class="form-group has-feedback">
      <%= f.label :password, "New password" %><br />
        
         <%= f.password_field :password, autofocus: true, autocomplete: "off", placeholder: "New Password", class: "form-control" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
     <div class="form-group has-feedback">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation", class: "form-control" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">

        <div class="col-xs-12">
           <%= f.submit "Change my password", class: "btn btn-primary btn-block btn-flat"  %>
        </div>
        <!-- /.col -->
      </div>
    <%end%>
<%= render "devise/shared/links" %>
</div>
</div>
