

<div class="login-box">

  <div class="login-logo">
     <a href="#">Forgot your password?</a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
     <div class="form-group has-feedback">
      <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-control"%>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="row">

        <div class="col-xs-12">
           <%= f.submit "Reset Password", class: "btn btn-primary btn-block btn-flat"  %>
        </div>
        <!-- /.col -->
      </div>
    <%end%>
<%= render "devise/shared/links" %>
</div>
</div>
