<table class="table table-hover">
  <tbody><tr>
    <th>Avatar</th>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Course</th>
    <th>Year</th>
    <th>Section</th>
    <th>Test Name</th>
    <th>Result</th>
    <th>Date</th>
    <th>Actions</th>

  </tr>
  <%@print.each do |u|%>
    <tr>
      <td>
        <div class="avatar-list">
        <%if u.avatar?%>
          <%= image_tag(avatar_photo(u.user_id, u.avatar), class: "img-responsive img-circle")%>
        <%else%>
         <%= image_tag("avatar-default.jpg", class: "img-responsive img-circle")%>
        <%end%>
       </div> 
      </td>
      <td><%=u.user_id%></td>
      <td><%=u.first_name%></td>
      <td><%=u.last_name%></td>
      <td><%=u.course_name%></td>
      <td><%=u.year_name%></td>
      <td><%=u.section_name%></td>
      <td><%=u.test_name%></td>
      <td><%=u.title%></td>
      <td><%=u.created_at.present? ? u.created_at.strftime("%m-%d-%Y") : ""%></td>

      <td>
      <div class="width-196">
      <a class="btn btn-success btn-xs" data-toggle = "tooltip" title = "Print Report" href="/print/single-report.pdf?user_id=<%=u.user_id%>&test_id=<%=u.test_id%>" role="button"><i class="fa fa-print"></i>  Print</a>
      
       </div>   
      </td>
    </tr>
  <%end%>
</tbody></table>

<!-- :data => { :foo_bar => 'that' } -->