$('.user_index_ajax').html("<%= escape_javascript(render partial: 'print_partial',  :locals => { :print => @print}) %>");
$('.user_test_pagination').html("<%= escape_javascript(render partial: 'print_pagination',  :locals => { :print => @print}) %>");
