<!-- Main content -->
<!-- <section class="content"> -->

<div class="row">
  <div class="col-xs-12">
       <a href="/print/report.pdf" class="pull-right btn btn-success btn-createtest"><i class="fa fa-print"></i> Print List Report</a>
  </div>
</div>
  <div class="row">
        <div class="col-xs-12">
          <div class="box box-main">
            <div class="box-header with-border">
              <h3 class="box-title">User Test Report</h3>

              <div class="box-tools">
               <%=form_tag(print_search_path, method: "GET", :id => "search-inputx", remote: true ) do -%>   
                <div style="width: 200px;" class="input-group input-group-sm">
                  <div class="input-group-btn">
                    <a href="/print" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                  </div>
                    <%= text_field_tag(:title, nil, class: 'form-control pull-right',  placeholder: 'Search keyword', value: params[:title]) -%>
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                  </div>
              </div>
               <%end%>
            </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body user_index_ajax table-responsive no-padding">
              <%=render partial: "print_partial",  :locals => { :print => @print}%>
            </div>
              <div class="box-footer user_test_pagination">
                    <%= will_paginate @print, renderer: BootstrapPagination::Rails %>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

  </div>
<!-- </section> -->