  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/start-test" class="navbar-brand" data-turbolinks="false"><b>Test</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <!-- <ul class="nav navbar-nav">
            
            <li><a href="/instructions">Instructions</a></li>
            <li class="active"><a href="/about">About <span class="sr-only">(current)</span></a></li>
            <li><a href="/contact">Contact us</a></li>
          </ul> -->

        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
      <% if user_signed_in? %>     
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                <img src="/assets/avatar-default.jpg" class="user-image" alt="User Image">
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs"><%=current_user.first_name%></span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <img src="/assets/avatar-default.jpg" class="img-circle" alt="User Image">

                  <p>
                    <%=current_user.first_name + " " + current_user.last_name%>
                <small><%=current_user.created_at.strftime("Member since %b. %Y")%></small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a href="/start-test" class="btn btn-default btn-flat">Proceed Test</a>
                  </div>
                  <div class="pull-right">
                     <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat","data-turbolinks"=>"false" %>
                  </div>
                </li>
              </ul>
            </li>
          <%else%>
              <li><%= link_to "Log in", new_user_session_path, "data-turbolinks"=>"false" %></li>
              <!-- <li><%#= link_to "Register", new_user_registration_path, "data-turbolinks"=>"false"%></li> -->
            <%end%>   

          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>