<section>
      <div class="container brain-particles">
        <div class="row ">
          <div class="col-md-4">
            <div class="p-5">
              <img class="img-responsive" src="/assets/brain-iq.png" alt="">
            </div>
          </div>
          <div class="col-md-8">
            <div class="p-5">
              <h2 class="display-4">
              <!-- WEBBASED PSYCOLOGICAL / PERSONALITY TEST  WITH ANALYTICS -->
                   Psychological or Personality Test with Analytics
              </h2>
              <p class="p-fontsize16">Contrary to the questions of an intelligence test, the questions of a personality test do not have right or wrong answers. Personality tests alfo differ from IQ tests in that they really cannot be practiced. You can take a sample test, so you more or less know what to expect. </p><p class="p-fontsize16">  A personality test can provide you with a lot of information about yourself. It will tell you more or less what suits you and in which position and environment you would be comfortable. This can be useful knowledge if you have to choose an education or career, even if an assessment is not in your near future. 'Practicing' a personality test prior to your assessment can help calm you, because you already know what is about to happen.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>