

$('.result-ajax').html("<%= escape_javascript(render partial: 'section_partial',  :locals => { :section => @section}) %>");

swal(
  'Good job!',
  'Successfully Archived!',
  'success'
)


$('#results-form')[0].reset();