$('.result-ajax').html("<%= escape_javascript(render partial: 'section_partial',  :locals => { :section => @section}) %>");
$('.resul_pagination').html("<%= escape_javascript(render partial: 'section_pagination',  :locals => { :section => @section}) %>");
