 <%if @s3ction.errors.any?%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%else%>

$('.result-ajax').html("<%= escape_javascript(render partial: 'section_partial',  :locals => { :section => @section}) %>");

swal(
  'Good job!',
  'Successfully Updated!',
  'success'
)
<%end%>

