<table class="table table-hover">
  <tbody><tr>
    <th>Result Title</th>
    <th>Description</th>
    <th>Published</th>
    <th>Actions</th>
  </tr>
  <%@result.each do |t|%>
    <tr>
      <td><%=t.title%></td>
      <td><%=simple_format(t.description)%></td>
      <td><%=t.created_at.to_date.strftime("%m-%d-%Y")%></td>
      <td>
      <div class="width-130">
      <a class="btn btn-warning " data-toggle="tooltip" title="Edit" href="/results/edit/<%=t.id%>" role="button"><i class="fa fa-edit"></i></a>
     <%= link_to "<i class='fa fa-archive'></i>".html_safe, delete_result_path(t.id),  data: {confirm: "Archive #{t.title}?"}, :method => :post, class: "btn btn-danger", remote: true, "data-toggle" => "tooltip", :title => "Archive", "data-caption" => "Yes, archive it"  %>

       </div>   
      </td>
    </tr>
  <%end%>
</tbody></table>

