

$('.result-ajax').html("<%= escape_javascript(render partial: 'result_partial',  :locals => { :result => @result}) %>");

swal(
  'Good job!',
  'Successfully Archived!',
  'success'
)


$('#results-form')[0].reset();