
<div class="info-box"> 
  <div class="content">
     <%= form_for :results, url: update_result_path, :html => {id: "results-form", class: "form-horizontal", :multipart => true}, remote: true do |f| %>
             <%=hidden_field_tag :result_id, params[:id]%>

          <div class="form-group has-feedback required">
              <%=f.label :title, class: "col-sm-2"%>
            <div class="col-sm-10 col-lg-10">
              <%= f.text_field :title, value: @edit_result.title, :class => 'form-control' %>
              <!-- <span class="help-block pull-right"><span class="counttitle">0</span>/70 </span> -->
            </div>
          </div>

          <div class="form-group has-feedback required">
              <%=f.label :description, "Description:", class: "col-sm-2"%>
            <div class="col-sm-10 col-lg-10">
              <%= f.text_area :description, value: @edit_result.description, :class => 'ckeditor form-control' %>
              <!-- <span class="help-block pull-right"><span class="counttitle">0</span>/70 </span> -->
            </div>
          </div>


        <div class="form-group">
        <div class="col-sm-offset-2  col-sm-10 col-lg-offset-2 col-lg-9">
          <button class="btn btn-primary btn-flat" type="submit" name="commit" value="save"> <i class='fa fa-savex'></i> Save Changes
          </button>
      
          <!-- <button class="btn btn-danger  btn-flat" type="reset" value="Reset"> <i class='fa fa-cancel'></i> Cancel
          </button> -->
        </div>
        </div>
      </div>
       <%end%>
  </div>
  <div class="row">
        <div class="col-xs-12">
          <div class="box box-main">
            <div class="box-header with-border">
              <h3 class="box-title">Results</h3>
              <div class="box-tools">
                <div class="input-group input-group-sm">
                  <!-- <input type="text" placeholder="Search" class="form-control pull-right" name="table_search"> -->
                  <div class="input-group-btn">
                    <a href="/results" class="btn btn-default"><i class="fa fa-level-up" aria-hidden="true"></i> Back
</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-body table-responsive no-padding result-ajax">
                <%=render partial: 'result_partial',  :locals =>  {:result => @result}%>
            </div>
              <div class="box-footer">
                    <%= will_paginate @result, renderer: BootstrapPagination::Rails %>
              </div>
          </div>
        </div>
  </div>






<!-- Modal for create section -->
<div class="modal fade" id="q_section_modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2"><i class="fa fa-file-text-o"></i> Create Section</h4>
      </div>

      <%= form_for :question_section, url: questions_section_create_path, :html => {id: "q_section_form", class: "form-horizontal", :multipart => true}, :remote => true do |f| %>
      <div class="modal-body">
        
          <div class="form-group has-feedback required">
              <%=f.label :question_section_name, "Question Section:", class: "col-sm-3 control-label"%>
            <div class="col-sm-10 col-lg-8">
              <%= f.text_field :question_section_name, :class => 'form-control' %>
              <span class="help-block pull-right">Enter Question Section Name</span>
            </div>
          </div>

      </div>
      
      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-default btn-flat" type="submit" name="commit" value="Save">Save</button> -->
       <%= f.submit "Save", class: "btn btn-default btn-flat" %>
        <!-- <button class="btn btn-default btn-flat" data-dismiss="modal" >Cancel</button> -->

      </div>
      <%end%>
    </div>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
    CKEDITOR.replace( 'results_description' );
});
</script>