$('.result-ajax').html("<%= escape_javascript(render partial: 'result_partial',  :locals => { :result => @result}) %>");
$('.resul_pagination').html("<%= escape_javascript(render partial: 'result_pagination',  :locals => { :result => @result}) %>");
