
<div class="info-box"> 
  <div class="content">
     <%= form_for :results, url: results_create_path, :html => {id: "results-form", class: "form-horizontal", :multipart => true}, remote: true do |f| %>


          <div class="form-group has-feedback required">
              <%=f.label :title, class: "col-sm-2"%>
            <div class="col-sm-10 col-lg-10">
              <%= f.text_field :title, :class => 'form-control' %>
              <!-- <span class="help-block pull-right"><span class="counttitle">0</span>/70 </span> -->
            </div>
          </div>

          <div class="form-group has-feedback required">
              <%=f.label :description, "Description:", class: "col-sm-2"%>
            <div class="col-sm-10 col-lg-10">
              <%= f.text_area :description, :class => 'ckeditor form-control' %>
              <!-- <span class="help-block pull-right"><span class="counttitle">0</span>/70 </span> -->
            </div>
          </div>


        <div class="form-group">
        <div class="col-sm-offset-2  col-sm-10 col-lg-offset-2 col-lg-9">
          <button class="btn btn-primary btn-flat" type="submit" name="commit" value="save"> <i class='fa fa-savex'></i> Add New Result
          </button>
      
          <!-- <button class="btn btn-danger  btn-flat" type="reset" value="Reset"> <i class='fa fa-cancel'></i> Cancel
          </button> -->
        </div>
        </div>
      </div>
       <%end%>
  </div>
  <div class="row">
        <div class="col-xs-12">
          <div class="box box-main">
            <div class="box-header with-border">
              <h3 class="box-title">Results</h3>
              <div class="box-tools">
               <%=form_tag(result_search_path, method: "GET", :id => "search-inputx", remote: true ) do -%>   
                <div style="width: 200px;" class="input-group input-group-sm">
                  <div class="input-group-btn">
                    <a href="/results" class="btn btn-default"><i class="fa fa-refresh"></i></a>
                  </div>
                    <%= text_field_tag(:title, nil, class: 'form-control pull-right',  placeholder: 'Search result', value: params[:title]) -%>
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                  </div>
              </div>
               <%end%>
            </div>
            </div>
            <div class="box-body table-responsive no-padding result-ajax">
                <%=render partial: 'result_partial',  :locals =>  {:result => @result}%>
            </div>
              <div class="box-footer resul_pagination">
                    <%= will_paginate @result, renderer: BootstrapPagination::Rails %>
              </div>
          </div>
        </div>
  </div>


