

<%if @re3sult == true%>
$('.result-ajax').html("<%= escape_javascript(render partial: 'result_partial',  :locals => { :result => @result}) %>");

$('#results-form')[0].reset();
for (instance in CKEDITOR.instances){
   CKEDITOR.instances[instance].setData(" ");
}
swal(
  'Good job!',
  'Successfully Saved!',
  'success'
)


<%else%>
swal(
  'Oops...',
  'Please check your entries or fill up the blanks before you submit, and try again.',
  'error'
)

<%end%>

