 <%if @r3sult.errors.any?%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%else%>

$('.result-ajax').html("<%= escape_javascript(render partial: 'result_partial',  :locals => { :result => @result}) %>");

swal(
  'Good job!',
  'Successfully Updated!',
  'success'
)
<%end%>

