<div class="info-box">
<div class="content">
<%= form_for :user, :url => {:action => "update_profile"}, :html => {id: "user_form", :multipart => true}, remote: true do |f| %>


  <%=hidden_field_tag :user_id, nil, value: @user.id%>
  

<%#
=begin
%>
<div class="row">
  <div class="col-lg-3 profile-settings-sidebar">
    <h4 class="prepend-top-0">Profile Picture</h4>
    <p>You can upload a JPG, GIF, or PNG file. The size of the image must be minimum of 300 x 300 pixels </p>
  </div>
  <div class="col-lg-9">
    <div class="row">
      <div class="col-lg-2 col-xs-12">
      <div class="form-group">
        <div class="avatar-image append-bottom-default">
        <%if @user.avatar?%>
          <%= image_tag(@user.avatar_url(:thumb), class: "img-responsive img-circle")%>
        <%else%>
         <%= image_tag("avatar-default.jpg", class: "img-responsive img-circle")%>
        <%end%>
        </div>
        </div>
      </div>
      <div class="col-lg-10 col-xs-12">
        <div class="form-group">
        <%=label_tag('Upload Profile Picture', nil, class: "label-light")%>
        <%=f.file_field(:avatar, class: "profile-photo", accept:'image/*')%>
      </div>
        <div class="help-block">
        The maximum file size allowed is 5mb.
        </div>
      </div>
    </div>
  </div>
</div>
  <hr>

<%#
=end
%>

<div class="row">
<%#=render partial: 'user_form', :locals => { :f => f}%>
    <div class="col-lg-3 profile-settings-sidebar">
      <h4 class="prepend-top-0">User information </h4>
      <p>This information will appear on your profile.</p>
    </div>

    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-6">

          <div class="form-group required">
            <%=f.label(:first_name, class: "label-light")%>
            <%=f.text_field(:first_name, class: "form-control", placeholder: "First Name", required: true)%>  
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group required">
            <%=f.label(:last_name, class: "label-light")%>
            <%=f.text_field(:last_name, class: "form-control", placeholder: "Last Name", required: true)%> 
          </div>
        </div>
      </div>
  
      <div class="form-group required">
        <%=f.label(:email, class: "label-light")%>
        <%=f.email_field(:email, class: "form-control", placeholder: "Email Address", disabled:true, required: true)%>  
        <span class="help-block">We use email for sending test through your email account.</span>
      </div>
 
      <div class="form-group">
        <%=f.label(:contact_number, class: "label-light")%>
        <%=f.number_field(:contact_no, class: "form-control", placeholder: "Contact No")%>  
      </div>

      <div class="form-group">
        <%=label_tag('course_id', "Course", class: "label-light")%>  
        <select name="user[course_id]" class="q_course-select form-control"> 
          <option value="">Select Course</option>
          <%= grouped_options_for_select [['Course',  @course.collect {|v| [ v.course_name, v.id ] }]],@user.course_id%>
          </select>
      </div>

            <div class="form-group">
        <%=label_tag('year_id', "Year", class: "label-light")%>  
        <select name="user[year_id]" class="q_year-select form-control"> 
          <option value="">Select Location</option>
          <%= grouped_options_for_select [['Year',  @year.collect {|v| [ v.year_name, v.id ] }]],@user.year_id%>
          </select>
      </div>

            <div class="form-group">
        <%=label_tag('section_id', "Section", class: "label-light")%>  
        <select name="user[section_id]" class="q_section-select form-control"> 
          <option value="">Select Section</option>
          <%= grouped_options_for_select [['Section',  @section.collect {|v| [ v.section_name, v.id ] }]],@user.section_id%>
          </select>
      </div>


        <div class="form-group required">
          <button class=" showpwd btn btn-default btn-xs" type="button"><i class="fa fa-search"></i> Change Password</button>
        </div>

        <div class="ajax_show_password">
      
        </div>  



          <div class="prepend-top-default append-bottom-default">
        <%#=f.submit 'Save Changes', class: "btn btn-success"%>
        <%= submit_tag("Update profile settings", class: "btn btn-success")%>
      </div>
</div>
</div>





<%end%>
</div>
</div>


<script type="text/javascript">

  $(function() {
        
        $('.showpwd').on('click', function() {

          if ($(this).hasClass( "hidepwd" )){
            $(this).removeClass( "hidepwd" );
            $(this).html("<i class='fa fa-search'></i> Change Password");
              $('.ajax_show_password').html('');

          }else{
                      $(this).addClass( "hidepwd" );
                      $(this).html("<i class='fa fa-minus'></i> Hide Password");
          $('.ajax_show_password').html('  <hr> <div class="form-group required">\
        <label class="label-light" for="user_password">New Password</label>\
        <input class="form-control" placeholder="Password" name="user[password]" id="user_password" type="password" required="required">\
      </div>\
      <div class="form-group required">\
        <label class="label-light" for="user_password_confirmation">Password confirmation</label>\
        <input class="form-control" placeholder="Password" name="user[password_confirmation]" id="user_password_confirmation" type="password" required="required">\
      </div>');

          }

        });

     

  $(".test-select").select2({
     placeholder: "Select Test"
  });


$('.test-select').val(<%=@user_test_prepare%>);
$('.test-select').trigger('change.select2');




});


</script>