<section class="content-test">
<h4> Your Result <br><strong> <%=@result.title%></strong></h4>
<div class="row">
  <div class="col-lg-6 text-center">
    <canvas id="canvas" height="450" width="450"></canvas>
  </div>    


  <div class="col-lg-6">
   <%=@result.description.html_safe%>
  </div>    
</div>
</section>
<%#=@get_result_id.first.ct%>
<script type="text/javascript">
	

$(document).on('turbolinks:load', function () {
    // var pieData = [



    //     <%#@get_result_id.each_with_index do |r, index| %>
    //         {
    //             value : <%#=r.ct%>,
    //             color : '<%#=color(index)%>',
    //             label : '<%#=Result.find(r.question_answer_id).title%>',
    //             labelColor : 'white',
    //             labelFontSize : '16'
    //         }<%# if r  == @get_result_id.last%><%#else%>,<%#end%> 
    //     <%#end%> 

            // ];

   //  var myPie = new Chart(document.getElementById("canvas").getContext("2d")).Pie(pieData, { 		               
   //      animationSteps: 100,
 		// animationEasing: 'easeInOutQuart'	});


var ctx = document.getElementById("canvas").getContext("2d");

var mybarChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ['Matches'],
    datasets: [
     <%@get_result_id.each_with_index do |r, index| %>
        {
          label: '<%=Result.find(r.answer_result).title%>',
          backgroundColor: '<%=color(index)%>',
          data: [<%=r.ct%>]
        }<% if r  == @get_result_id.last%><%else%>,<%end%> 
     <%end%> 
    ]
  },

  options: {
    legend: {
      display: true,
      position: 'bottom',
      labels: {
        fontColor: "#000080",
      }
    },
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    }
  }
});


});





</script>