<div class="test-container container">
<h1 class="text-center">Test Instructions</h1>
<h4>Test Name: Test Title</h4>
<h4>Total Questions: 20</h4>	
<hr>
<h4> Answering Questions</h4>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit malesuada neque sit amet imperdiet. Vestibulum a dolor ut metus cursus condimentum blandit vitae ex. Nulla sollicitudin ligula lacus, eget volutpat quam iaculis at. Proin blandit dapibus metus sed venenatis.
<br>Duis posuere enim non erat posuere pellentesque. Proin vitae nulla a odio dignissim fringilla. Maecenas non ullamcorper erat. Quisque aliquam dolor quis velit sodales, placerat molestie arcu fringilla. Morbi sed est lacinia, mollis ante non, accumsan ex. Cras tortor ipsum, porttitor sed dolor at, cursus varius arcu.
</p>

<hr>
<p>
Thank you for Appearing for the Test.

</p>
<%@user_test.each_with_index do |t|%>
<a href="/take-test/<%=t.test_id%>" class="btn-test btn btn-success text-right btn-flat btn-lg"> Proceed to Test</a>
<%end%>

<br>
<br/>
</div>