			
<%if @user_prepare_test_check.status == 'take' || @user_prepare_test_check.status == 'retake'%>
			<div class="timex text-right">
		<div class='timer2 element'></div>
			<p class='timer element'></p>
		</div>	
<%else%>

<%end%>

<section class="content-test">
<!-- 
	<div class="row">
		<div class="col-md-3 test-time">
			<p>
			Test Name :
			<b>
			<span id="section-timer" class="is-countdown">
			<span class="countdown-row countdown-amount">Psycological Test</span>

			</span>
			</b>
			</p>
						<p>
			Total Questions :
			<b>
			<span id="section-timer" class="is-countdown">
			<span class="countdown-row countdown-amount"><%#=@take_test.count%></span>
			
			</span>
			</b>
			</p>
		</div>
		<div class="col-md-7 test-name">
		</div>
		<div class="col-md-2 text-right test-submit"">
		</div>
	</div>
<br>
 -->
<%if @user_prepare_test_check.status == 'take' || @user_prepare_test_check.status == 'retake'%>
 <%= form_for :submit_test, url: submit_test_path, :html => {id: "submit_test_form", class: "form-horizontal", :multipart => true} do |f| %>
 	<%=hidden_field_tag :test_id, params[:id] %>
 	<%=hidden_field_tag :time_start, Time.now - 5.seconds%>
 	<%=hidden_field_tag :time_end, nil, class: "time_end"%>
	<div class="row">

		<div class="col-md-12">



	<%@take_test.each_with_index do |t, index| %>
		<%@count_num =  index + 1%>
			<div class="row">
			    <div class="col-md-6">
			        <label class="question">Question #<%=@count_num%></label>
			    </div>
			    <div class="col-md-6">
			        <label>Select any option</label>
			    </div>
			</div>

			<div class="row">
			    <div class="col-md-6" style="word-wrap:break-word;">
			        <div><%=simple_format(Question.find_by_id(t.question_id).question_name)%></div>
			    </div>
			    <div class="col-md-6 radio radio-test" style="word-wrap:break-word;">
					<%@option = QuestionAnswer.where(question_id: t.question_id) %>
					   <ul>
					<%@option.each_with_index do |o, index| %>

			    
			            <li>
			               <input tabindex="<%=@count_num%>" class="option-input radiox" id="question<%=@count_num%>" name="question<%=@count_num%>" value=<%=o.id%> type="radio">
              			 <label for="questionx<%=@count_num%>"><%=simple_format(o.question_answer_name)%></label>
			            </li>
					<%end%>
 					</ul>
			    </div>

			</div>
			<hr>

<br>
<br>
	<%end%>		

			
		</div>
	</div>

<div class="text-right">
		 <%= f.submit "Submit Test", class: "btn btn-primary btn-lg btn-flat", "data-turbolinks"=> false %>

</div>
<%end%>

<%else%>

<h3> You have already taken the test!</h3>
<%end%>

</section>


      <% content_for :additional_head do %>

      
<script type="text/javascript">
$(document).ready(function(){






  // $('input').iCheck({
  //   checkboxClass: 'icheckbox_square',
  //   radioClass: 'iradio_square',


  //   increaseArea: '20%' // optional
  // });


 // $(document).on('turbolinks:load', function () {

  $('#submit_test_form').formValidation({
    framework: 'bootstrap',
    icon: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    fields: {

	<%@take_test.each_with_index do |t, index| %>
	<%@count_number =  index + 1%>
      'question<%=@count_number%>': {
        message: 'Invalid Answer',
        validators: {
          notEmpty: {
            message: 'The question answer is required'
          }
        }
      }
	   <% if @take_test.count == 1%>
	    <%else%>
		      <%if index == @take_test.count.to_i - 1%>
		      <%else%> 
		      ,
		      <%end%>
	      <%end%>
     <%end%>

    }
  }).on('success.form.fv', function(e) {
            // Prevent form submission
            e.preventDefault();
            $('.time_end').val($('.timer2').text());

            $.ajax({
                url: String($(this).attr('action')),
                type: 'post',
                data:  new FormData(this),
                contentType: false,
                cache: false,
                processData:false,
                beforeSend: function(data) {
                	$('.time_end').val($('.timer2').text());

                  $('.loader-buy').fadeIn().css("display","block").delay(1000);

                    },
                    success: function(data) {

                    },
                    complete: function(data){
                     },
                    error: function(data) {
                       // code here
                    }
            });
        });
// });


});
</script>
 <%end%>


