 <%if @user.errors.any?%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%else%>

swal(
  'Good job!',
  'Successfully Updated!',
  'success'
)
setTimeout(function(){
window.location.href = '/profile?s=success';

},1000);


<%end%>




