
<div class="info-box"> 
  <div class="content content-setting">
     <%= form_for :courses, url: update_courses_path, :html => {id: "results-form", class: "form-horizontal", :multipart => true}, remote: true do |f| %>
             <%=hidden_field_tag :course_id, params[:id]%>

          <div class="form-group has-feedback required">
              <%=f.label :course_name, "Course", class: "col-sm-2"%>
            <div class="col-sm-10 col-lg-10">
              <%= f.text_field :course_name, value: @edit_course.course_name, :class => 'form-control' %>
              <!-- <span class="help-block pull-right"><span class="counttitle">0</span>/70 </span> -->
            </div>
          </div>



        <div class="form-group">
        <div class="col-sm-offset-2  col-sm-10 col-lg-offset-2 col-lg-9">
          <button class="btn btn-primary btn-flat" type="submit" name="commit" value="save"> <i class='fa fa-savex'></i> Save Changes
          </button>
      
          <!-- <button class="btn btn-danger  btn-flat" type="reset" value="Reset"> <i class='fa fa-cancel'></i> Cancel
          </button> -->
        </div>
        </div>
      </div>
       <%end%>
  </div>
  <div class="row">
        <div class="col-xs-12">
          <div class="box box-main">
            <div class="box-header with-border">
              <h3 class="box-title">Results</h3>
              <div class="box-tools">
                <div class="input-group input-group-sm">
                  <!-- <input type="text" placeholder="Search" class="form-control pull-right" name="table_search"> -->
                  <div class="input-group-btn">
                    <a href="/courses" class="btn btn-default"><i class="fa fa-level-up" aria-hidden="true"></i> Back
</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-body table-responsive no-padding result-ajax">
                <%=render partial: 'course_partial',  :locals =>  {:course => @course}%>
            </div>
              <div class="box-footer">
                    <%= will_paginate @course, renderer: BootstrapPagination::Rails %>
              </div>
          </div>
        </div>
  </div>
