$('.result-ajax').html("<%= escape_javascript(render partial: 'course_partial',  :locals => { :course => @course}) %>");
$('.resul_pagination').html("<%= escape_javascript(render partial: 'course_pagination',  :locals => { :course => @course}) %>");
