

<%if @cours3 == true%>
$('.result-ajax').html("<%= escape_javascript(render partial: 'course_partial',  :locals => { :course => @course}) %>");
 $('#results-form')[0].reset();
swal(
  'Good job!',
  'Successfully Saved!',
  'success'
)


<%else%>
swal(
  'Oops...',
  'Please check your entries or fill up the blanks before you submit, and try again.',
  'error'
)

<%end%>
