 <%if @cours3.errors.any?%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%else%>

$('.result-ajax').html("<%= escape_javascript(render partial: 'course_partial',  :locals => { :course => @course}) %>");

swal(
  'Good job!',
  'Successfully Updated!',
  'success'
)
<%end%>

