.main-header .sidebar-toggle::before {
    content: "";
}

.main-header{
       border-bottom: 1px solid #1a2226;
}
.select2-container--default .select2-selection--single{
	border-radius: 0px!important;
}

.content-custom {
    margin-left: auto;
    margin-right: auto;
    /*min-height: 250px;*/
    padding: 15px;
}

.question_section_ajax .select2-container{
	margin-bottom: 5px;
}

.btn-createtest{
	margin-bottom: 5px!important;
}

.box-main {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #e5e5e5!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}

#new_user h2 {
    font-size: 14px;
    font-weight: bold;
}

.content-test {
    background: #fff none repeat scroll 0 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    min-height: 250px;
    padding: 30px;

     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: 15px;
    min-height: 90px;
  
}

.bg-white{
    background-color:#ecf0f5; 
}

.test-container{
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-responsive.logo-test {
    margin-left: 10px;
    margin-top: -8px;
    width: 130px;
}

.img-responsive.logo-test-dashboard {
    margin-left: 42px;
    margin-top: 6px;
    width: 130px;
}

.radio-test ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}


.avatar-list{
    width: 34px;
}

.dashboard .users-list > li {

    height: 126px;
    width: 93px;
}

.width-130{
    width:100px;
}

.width-300{
    width:300px;
}

.width-145{
    width:145px;
}

.width-196 {
    width: 196px;
}


.width-200 {
    width: 200px;
}

body.home.index header.main-header{
     max-height: none;
}

body.home.index header.main-header {
    background: url(image_path("psu-header.jpg")) no-repeat center top scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



body.home.index .brain-particles {
    background: rgba(0, 0, 0, 0) url(image_path("brain-particles.png")) no-repeat scroll 718px 0 / 400px 400px;
}

body.home.index header.main-header > .overlay {
    padding: 5rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

body.home.index.skin-blue .main-header .navbar {
    background-color: rgba(0, 0, 0, 0.8);
}



/*body.home.index {
    padding-top: 54px;
}*/


@media only screen and (max-width: 768px){
body.home.index header.main-header > .overlay {
        padding: 3rem 0;
    }
}

@media only screen and (max-width: 800px){
body.home.index header.main-header > .overlay {
        padding: 4rem 0;
    }
}

@media only screen and (max-width: 980px){
body.home.index header.main-header > .overlay {
         padding: 7rem 0;
    }
}

@media only screen and (max-width: 1024px){
body.home.index header.main-header > .overlay {
         padding: 9rem 0;
    }
}

@media only screen and (max-width: 1280px){
body.home.index header.main-header > .overlay {
         padding: 13rem 0;
    }
}


@media only screen and (max-width: 1453px){
body.home.index header.main-header > .overlay {
         padding: 14rem 0;
    }
}

@media only screen and (min-width: 1454px){
body.home.index header.main-header > .overlay {
         padding: 15rem 0;
    }
}






.text-white{
    color:#fff;
}

.p-fontsize16{
    font-size: 16px;
}





@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

body.take_test.take_test .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  border: 1px solid #cbd1d8;
}
body.take_test.take_test .option-input:hover {
  background: #fff;
   border: 2px solid #2077b2;
}
body.take_test.take_test .option-input:checked {
  background: #2077b2;
   border: none;
}
body.take_test.take_test .option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 23.667px;
  text-align: center;
  line-height: 32px;
  margin-left: 5px;
}
body.take_test.take_test .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #2077b2;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
body.take_test.take_test .option-input.radiox {
  border-radius: 50%;
}
body.take_test.take_test .option-input.radiox::after {
  border-radius: 50%;
}

body.take_test.take_test  .radio-test .help-block{
  color:#c22;
}


body.take_test.take_test .form-control-feedback.fv-icon-no-label.glyphicon.glyphicon-remove{
 color:#c22;
}

body.take_test.take_test .form-control-feedback.fv-icon-no-label.glyphicon.glyphicon-ok{
color:#3c763d;
}

body.take_test.take_test .form-control-feedback.fv-icon-no-label.glyphicon {
    margin-right: 14px;
    margin-top: 27px;
}  

.timer2{
  font-size: 18px;
} 

.timex {
    margin-top: -45px;
}

.form-group.required .label-light:before{
   color: red;
   content: "*";
   position: absolute;
   margin-left: -15px;
}

.content-setting{
  min-height: 130px!important;
}