<select name="question[question_section_id]" class="q_section-select form-control"> 
<option value="">Select Location</option>
<%= grouped_options_for_select [['Search Section',  @q_section.collect {|v| [ v.question_section_name, v.id ] }]]%>
</select>