<table class="table table-hover">
  <tbody><tr>
    <th>Test Title</th>
    <th>Published</th>
    <th>Display Test on Sign up?</th>
    <th>Actions</th>
  </tr>
  <%@test.each_with_index do |t, index|%>
    <%countnum = index + 1%>
  
    <tr>
      <td><%=t.test_name%></td>
      <td><%=t.created_at.to_date.strftime("%m-%d-%Y")%></td>
      <td>  


 
           <input tabindex="<%=countnum%>" id="<%=countnum%>"  data-id="<%=t.id%>" onclick="checking_test();" name="<%=countnum%>" <%="checked" if t.display_public == "yes"%> value="<%=t.display_public%>" type="checkbox">
           <label for="<%=countnum%>"> Yes</label>
     
     

          </td>
      <td>
      <div class="width-300">
      <%#if t.status == 'active'%>  
        <a class="btn btn-success" href="/test-library/preview-test/<%=t.id%>" role="button"><i class="fa fa-eye"></i> Preview Test</a>
      <%#end%>  
      <a class="btn btn-warning " href="/tests/new/<%=t.id%>" role="button"><i class="fa fa-edit"></i> Edit</a>
      <%#= link_to "<i class='fa fa-trash'></i> Delete".html_safe, delete_test_index_path(t.id),  data: {confirm: "Delete #{t.test_name}?"}, :method => :delete, class: "btn btn-danger", remote: true %>

      <%= link_to "<i class='fa fa-archive'></i> Archive".html_safe, delete_test_index_path(t.id),  data: {confirm: "Archive #{t.test_name}?"}, :method => :post, class: "btn btn-danger", remote: true, "data-toggle" => "tooltip", :title => "Archive", "data-caption" => "Yes, archive it"  %>
       </div>   
      </td>
    </tr>
  <%end%>
</tbody></table>