<table class="table table-hover">
  <tbody><tr>
    <th>Test Title</th>

    <th>Questions</th>
    <th>Published</th>
    <th>Actions</th>
  </tr>
  <%@test_question.each do |t|%>
    <tr>
      <td><%=t.question_section_name%></td>

      <td><%= Question.where(question_section_id: t.id).count%></td>
      <td><%=t.created_at.to_date.strftime("%m-%d-%Y")%></td>
      <td>
      <div class="width-130">
     <%= link_to "<i class='fa fa-trash'></i> Delete".html_safe, delete_test_path(t.test_id),  data: {confirm: "Delete #{t.question_section_name}?"}, :method => :delete, class: "btn btn-danger", remote: true %>
       </div>   
      </td>
    </tr>
  <%end%>
</tbody></table>



