

<%if @result == true%>
$('.test_section_ajax').html("<%= escape_javascript(render partial: 'test_question_partial',  :locals => { :test_question => @test_question}) %>");
$('.question_section_ajax').html("<%= escape_javascript(render partial: 'test_section_partial',  :locals => { :q_section => @q_section}) %>");

$('#test_question_form')[0].reset();
$(".q_section-select").select2({
	placeholder: "Select Section",
	allowClear: true
});

swal(
  'Good job!',
  'Successfully Saved!',
  'success'
)


<%else%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%end%>

