$('.test_section_ajax').html("<%= escape_javascript(render partial: 'test_question_partial',  :locals => { :test_question => @test_question}) %>");
$('.question_section_ajax').html("<%= escape_javascript(render partial: 'test_section_partial',  :locals => { :q_section => @q_section}) %>");

$(".q_section-select").select2({
  placeholder: "Select Section",
  allowClear: true
});

swal(
  'Good job!',
  'Successfully Deleted!',
  'success'
)



