$('.test_index_ajax').html("<%= escape_javascript(render partial: 'test_index_partial',  :locals => { :test => @test}) %>");
$('.test_pagination').html("<%= escape_javascript(render partial: 'test_pagination',  :locals => { :test => @test}) %>");
