

<div class="info-box"> 
  <div class="content-custom">
     <%= form_for :test_questions, url: tests_create_test_question_path, :html => {id: "test_question_form", class: "form-horizontal", :multipart => true}, remote: true do |f| %>
      <%=hidden_field_tag 'test_id', params[:id], id: "key-answer"%>
          <div class="form-group has-feedback required">
       
          	<div class="col-lg-2">
            <%=f.label :question_section, "Question Section:"%>
            </div>  
            <div class="col-lg-4 question_section_ajax">
              <select name="question[question_section_id]" class="q_section-select form-control"> 
              <option value="">Select Location</option>
              <%= grouped_options_for_select [['Search Section',  @q_section.collect {|v| [ v.question_section_name, v.id ] }]]%>
              </select>
             
            </div>  
            <div class="col-lg-4">
            <button class="btn btn-success btn-flat">Add to Test</button>
            </div>
			
             <span class="help-block pull-right"></span>
          </div>

    

       
         

      </div>
       <%end%>
  </div>




	<div class="row">
        <div class="col-xs-12">
          <div class="box box-main">
            <div class="box-header with-border">
              <h3 class="box-title">Test List</h3>

              <div class="box-tools">
                <div style="width: 200px;" class="input-group input-group-sm">
                  <input type="text" placeholder="Search" class="form-control pull-right" name="table_search">

                  <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive test_section_ajax no-padding">
              <%=render partial: "test_question_partial",  :locals => { :test_question => @test_question}%>
            </div>
              <div class="box-footer">
                    <%#= will_paginate @test_question, renderer: BootstrapPagination::Rails %>
              </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

	</div>
