<section class="content-test">



	<div class="row">
		<div class="col-md-3 test-time">
			<p>
			Test Name :
			<b>
			<span id="section-timer" class="is-countdown">
			<span class="countdown-row countdown-amount"><%=@page_header%></span>

			</span>
			</b>
			</p>
						<p>
			Total Questions :
			<b>
			<span id="section-timer" class="is-countdown">
			<span class="countdown-row countdown-amount"><%=@take_test.count%></span>
			
			</span>
			</b>
			</p>
		</div>
		<div class="col-md-7 test-name">
		</div>
		<div class="col-md-2 text-right test-submit">
		</div>
	</div>
<br>
	<div class="row">
		<div class="col-md-12">
	<%@take_test.each_with_index do |t, index| %>
		<%count_num =  index + 1%>
			<div ui-view="question" autoscroll="false" class="ng-scope"><div class="row ng-scope">
			    <div class="col-md-6">
			        <label class="question">Question #<%=count_num%></label>
			    </div>
			    <div class="col-md-6">
			        <label>Select any option</label>
			    </div>
			</div>
	
<%#=debug t%>


			<div class="row">
			    <div class="col-md-6" style="word-wrap:break-word;">
			        <div><%=simple_format(Question.find_by_id(t.question_id).question_name)%></div>
			    </div>
			    <div class="col-md-6 radio radio-test" style="word-wrap:break-word;">
					<%@option = QuestionAnswer.where(question_id: t.question_id) %>
					 <ul>
					<%@option.each_with_index do |o, index| %>
			            <li>
			               <input tabindex="<%=count_num%>" id="question<%=count_num%>" name="question<%=count_num%>" value=<%=o.result_id%> type="radio">
              			 <label for="question<%=count_num%>"><%=simple_format(o.question_answer_name)%></label>
			            </li>
					<%end%>
					</ul>
			    </div>

			</div>
			<hr>

<br>
<br>
	<%end%>		

			
		</div>
	</div>
</div>

</section>



<script>
$(document).ready(function(){
  $('input').iCheck({
    checkboxClass: 'icheckbox_square',
    radioClass: 'iradio_square',
    increaseArea: '20%' // optional
  });
});
</script>