

$('.result-ajax').html("<%= escape_javascript(render partial: 'year_partial',  :locals => { :year => @year}) %>");

swal(
  'Good job!',
  'Successfully Archived!',
  'success'
)


$('#results-form')[0].reset();