$('.result-ajax').html("<%= escape_javascript(render partial: 'year_partial',  :locals => { :year => @year}) %>");
$('.resul_pagination').html("<%= escape_javascript(render partial: 'year_pagination',  :locals => { :year => @year}) %>");
