

<%if @y3ar == true%>
$('.result-ajax').html("<%= escape_javascript(render partial: 'year_partial',  :locals => { :year => @year}) %>");

$('#results-form')[0].reset();

swal(
  'Good job!',
  'Successfully Saved!',
  'success'
)


<%else%>
swal(
  'Oops...',
  'Please check your entries or fill up the blanks before you submit, and try again.',
  'error'
)

<%end%>

