 <%if @y3ar.errors.any?%>
swal(
  'Oops...',
  'Something went wrong!',
  'error'
)

<%else%>

$('.result-ajax').html("<%= escape_javascript(render partial: 'year_partial',  :locals => { :year => @year}) %>");

swal(
  'Good job!',
  'Successfully Updated!',
  'success'
)
<%end%>

