<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>T</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="/assets/test--logo.png" class="img-responsive logo-test-dashboard " alt="Logo"></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#"  data-turbolinks="true" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- The user image in the navbar-->
            <!-- <img src="/assets/avatar-default.jpg" class="user-image" alt="User Image"/> -->

                              <%if current_user.avatar? %>
                  <%= image_tag(current_user.avatar_url(:thumb), class: "user-image")%>
                  <%else%>
                   <%= image_tag("avatar-default.jpg", class: "user-image") %>
                  <%end%>


            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%=current_user.first_name%></span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
              

            <%if current_user.avatar? %>
            <%= image_tag(current_user.avatar_url(:thumb), class: "img-circle")%>
            <%else%>
             <%= image_tag("avatar-default.jpg", class: "img-circle") %>
            <%end%>


              <p>
                <%=current_user.first_name + " " + current_user.last_name%>
                <small><%=current_user.role.titleize%><%=current_user.created_at.strftime(" since %b. %Y")%></small>
              </p>
            </li>

            <li class="user-footer">
              <div class="pull-left">
               <%if current_user.role == "admin" %> 
                <a data-turbolinks="true" href="/dashboard" class="btn btn-default btn-flat">Dashboard</a>
               <%else%>
                 <a data-turbolinks="true" href="/profile" class="btn btn-default btn-flat">Profile</a>
               <%end%> 
              </div>
              <div class="pull-right">
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat", "data-turbolinks"=>"true"%>
              </div>
            </li>
          </ul>
        </li>
      
      </ul>
    </div>
  </nav>
</header>
