  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" ddata-turbolinks="true">

          <img src="/assets/test--logo.png" class="img-responsive logo-test " alt="Logo"></a>


          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <!-- <ul class="nav navbar-nav">
            
            <li><a href="/instructions">Instructions</a></li>
            <li class="active"><a href="/about">About <span class="sr-only">(current)</span></a></li>
            <li><a href="/contact">Contact us</a></li>
          </ul> -->

        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
      <% if user_signed_in? %>     
            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- The user image in the navbar-->
                       <%if current_user.avatar? %>
            <%= image_tag(current_user.avatar_url(:thumb), class: "user-image")%>
            <%else%>
             <%= image_tag("avatar-default.jpg", class: "user-image") %>
            <%end%>

                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs"><%=current_user.first_name%></span>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">

                  <%if current_user.avatar? %>
                  <%= image_tag(current_user.avatar_url(:thumb), class: "img-circle")%>
                  <%else%>
                   <%= image_tag("avatar-default.jpg", class: "img-circle") %>
                  <%end%>

                  <p>
                    <%=current_user.first_name + " " + current_user.last_name%>
                <small><%=current_user.role.titleize%><%=current_user.created_at.strftime(" since %b. %Y")%></small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                  <%if current_user.role == "admin" %> 
                    <a data-turbolinks="true" href="/dashboard" class="btn btn-default btn-flat">Dashboard</a>
                  <%else%>
                     <a data-turbolinks="true" href="/profile" class="btn btn-default btn-flat">Profile</a>
                  <%end%> 
                  </div>
                  <div class="pull-right">
                     <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default btn-flat","data-turbolinks"=>"true" %>
                  </div>
                </li>
              </ul>
            </li>
          <%else%>
              <li><%= link_to "Log in", new_user_session_path, "data-turbolinks"=>"true" %></li>
              <li><%= link_to "Register", new_user_registration_path, "data-turbolinks"=>"true"%></li>
            <%end%>   

          </ul>
        </div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>


<%if params[:controller] == 'home' && params[:action] == 'index'%>
      <div class="overlay">
        <div class="container">
          <h1 class="display-1 text-white">Psychological or Personality Test with Analytics</h1>
          <h2 class="display-4 text-white">Pangasinan State University - San Carlos Campus</h2>
        </div>
      </div>
<%end%>


  </header>