<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
<!--     <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/user2-160x160.jpg" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>Alexander Pierce</p> -->
        <!-- Status -->
  <!--       <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div> -->

    <!-- search form (Optional) -->
<!--     <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form> -->
    <!-- /.search form -->


      <div class="user-panel">
        <div class="pull-left image">
          <!-- <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> -->
          <%if current_user.avatar?%>
          <%= image_tag(current_user.avatar_url(:thumb), class: "img-circle")  %>
          <%else%>
          <%= image_tag("avatar-default.jpg", class: "img-circle")  %>
          <%end%>
        </div>
        <div class="pull-left info">
          <p><%= current_user.first_name + " " + current_user.last_name%></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>



    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
        <!-- Optionally, you can add icons to the links -->

     <%case current_user.role %> 
     <% when 'admin' %>
        <li class="<%=is_active(params[:controller],"users", params[:action], "dashboard")%>"><a data-turbolinks="true" href="/dashboard"><i class='fa fa-dashboard '></i> <span>Dashboard</span></a></li>

      <li class="treeview <%=is_active(params[:controller], "questions", params[:action], "index")%> <%=is_active(params[:controller], "questions", params[:action], "multiple_choice")%>">
        <a href="#" data-turbolinks="true"><i class='fa fa-table'></i> <span>Manage Questions</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li class="<%=is_active(params[:controller], "questions", params[:action], "index")%>"><a  data-turbolinks="true" href="/questions"><i class="fa fa-circle-o text-aqua"></i> All Questions</a></li>
          <li class="<%=is_active(params[:controller], "questions", params[:action], "multiple_choice")%>"><a  data-turbolinks="true" href="/questions/new"> <i class="fa fa-circle-o text-aqua"></i>Add Questions</a></li>
        </ul>
      </li>
      <li class="treeview <%=is_active(params[:controller], "users", params[:action], "index")%> <%=is_active(params[:controller], "users", params[:action], "new")%>">
          <a  data-turbolinks="true" href="#"><i class='fa fa-user'></i> <span>Users Management</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li class="<%=is_active(params[:controller], "users", params[:action], "index")%>"><a  data-turbolinks="true" href="/user-candidates"><i class="fa fa-circle-o text-aqua"></i> All Users</a></li>
          <li class="<%=is_active(params[:controller], "users", params[:action], "new")%>"><a  data-turbolinks="true" href="/users/new"> <i class="fa fa-circle-o text-aqua"></i>Add Users</a></li>
        </ul>
      </li>
<!--       <li><a  data-turbolinks="true" href="/user-test"><i class='fa fa-newspaper-o'></i> <span>Manage User Tests</span></a></li> -->
       <li class="<%=is_active(params[:controller],"results", params[:action], "index")%>"><a  data-turbolinks="true" href="/results"><i class='fa fa-book'></i> <span>Manage Results</span></a></li>
    
   <li class="<%=is_active(params[:controller],"tests", params[:action], "index")%>"><a data-turbolinks="true" href="/test-library"><i class='fa fa-file-text-o'></i> <span>Test Bank</span></a></li>


      <!--  <li><a  data-turbolinks="true" href="/user-candidates"><i class='fa fa-user'></i> <span>User Candidate</span></a></li> -->

       
       <li class="<%=is_active(params[:controller],"analytics", params[:action], "index")%>"><a  data-turbolinks="true" href="/analytics"><i class='fa fa-bar-chart'></i> <span>Analytics</span></a></li>
      <li class="treeview <%=is_active(params[:controller],"question_sections", params[:action], "index")%> <%=is_active(params[:controller],"courses", params[:action], "index")%> <%=is_active(params[:controller],"years", params[:action], "index")%> <%=is_active(params[:controller],"sections", params[:action], "index")%>">
          <a  data-turbolinks="true" href="#"><i class='fa fa-gear'></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li class="<%=is_active(params[:controller],"question_sections", params[:action], "index")%>"><a  data-turbolinks="true" href="/question-sections"><i class="fa fa-circle-o text-aqua"></i> Question Test Type</a></li>
          <li class="<%=is_active(params[:controller],"courses", params[:action], "index")%>"><a  data-turbolinks="true" href="/courses"><i class="fa fa-circle-o text-aqua"></i> Course</a></li>
          <li class="<%=is_active(params[:controller],"years", params[:action], "index")%>"><a  data-turbolinks="true" href="/years"> <i class="fa fa-circle-o text-aqua"></i> Year</a></li>
          <li class="<%=is_active(params[:controller],"sections", params[:action], "index")%>"><a  data-turbolinks="true" href="/sections"> <i class="fa fa-circle-o text-aqua"></i> Section</a></li>
        </ul>
      </li>

<li class="<%=is_active(params[:controller],"print_report", params[:action], "index")%>"><a  data-turbolinks="false" href="/print"><i class='fa fa-print'></i> <span>Reports</span></a></li>
       <!-- <li><a  data-turbolinks="true" href="/settings"><i class='fa fa-gear'></i> <span>Settings</span></a></li> -->
      <%else%>
        <li><a  data-turbolinks="true" href="/profile"><i class='fa fa-user'></i> <span>Profile</span></a></li>
          <li class="header">TEST</li>
          <%if @user_prepare_test.present? %>
            <%@user_prepare_test.each do |f|%>
             <li><a  data-turbolinks="false" href="/take-test/<%=f.test_id%>"><i class='fa fa-book'></i> <span><%=Test.find(f.test_id).test_name%></span></a></li>
            <%end%>  
          <%end%>
      <%end%>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
