<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
      <link href='<%=image_path('favicon.png')-%>' rel='shortcut icon'/>
   <link rel="apple-touch-icon" href='<%=image_path('apple-touch-icon.png')-%>' sizes="192x192">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bg-white">

<%= yield %>

</body>
</html>
