<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
      <link href='<%=image_path('favicon.png')-%>' rel='shortcut icon'/>
   <link rel="apple-touch-icon" href='<%=image_path('apple-touch-icon.png')-%>' sizes="192x192">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body class="hold-transition skin-blue layout-top-nav <%= params[:controller].parameterize %> <%= action_name %>">
<div class="wrapper">
    <%= render partial: 'layouts/admin_lte_2_header_2' %>


  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Content Header (Page header) -->
   <!--    <section class="content-header">
        <h1>
          Online Pyschological Test
          <small></small>
        </h1>
      </section> -->
      <!-- Main content -->
      <section class="content">
        <% if notice %>
          <div class="alert alert-success alert-dismissable">
            <i class="fa fa-check"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <b><%= notice %></b>
          </div>
        <% end %>

        <% if alert %>
          <div class="alert alert-danger alert-dismissable">
            <i class="fa fa-ban"></i>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <b><%= alert %></b>
          </div>
        <% end %>
        <%= yield %>
      </section>
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>Copyright &copy; <%=Time.now.strftime('%Y')%> <a href="/">Psychological or Personality Test with Analytics </a>.</strong> All rights
      reserved.
    </div>
    <!-- /.container -->
  </footer>
</div>
<!-- ./wrapper -->




</body>
</html>
