<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
      <link href='<%=image_path('favicon.png')-%>' rel='shortcut icon'/>
   <link rel="apple-touch-icon" href='<%=image_path('apple-touch-icon.png')-%>' sizes="192x192">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>


<body class="hold-transition skin-blue layout-top-nav <%= params[:controller].parameterize %> <%= action_name %>">
<div class="wrapper">
    <%= render partial: '/shared/header_user' %>


  <!-- Full Width Column -->
  <div class="content-wrapper">
    <div class="container">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <!-- <h1>
          Under Construction
          <small></small>
        </h1> -->
    <!--     <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
          <li class="active">Take Test</li>
        </ol> -->
      </section>

      <!-- Main content -->



        <!-- /.box -->
              <%= yield %>
      



      <!-- /.content -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>Copyright &copy; 2017 <a href="#">Psychological or Personality Test with Analytics </a>.</strong> All rights
      reserved.
    </div>
    <!-- /.container -->
  </footer>
</div>
<!-- ./wrapper -->



 <%= javascript_include_tag 'application2', 'data-turbolinks-track' => true %>
</body>
</html>
